html
{
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}

*, *:before, *:after
{
  box-sizing: inherit;
}

body
{
  padding: 20px;
}

h2, h3, h4, p
{
  margin: 0;
}

#card
{
  width: 600px;
  height: 350px;
  box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.36);
  border-radius: 5px;
  overflow: hidden;
}

#top-section
{
  width: 100%;
  height: 45%;
  padding: 20px;
}

#bottom-section
{
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left-section
{
  background-color: #2ab2af;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 20px;
}

#bottom-right-section
{
  background-color: #2EBFBD;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 20px;
}

#top-section h2
{
  color: #2ab2af;
  margin-bottom: 15px;
}

#top-section h4
{
  color: #c0df34;
  margin-bottom: 10px;
}

#top-section p
{
  color: #98a6bd;
}

button
{
  color: white;
  background-color: #c0df34;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin: 20px 10px 0px 0px;
}

button:hover
{
  cursor: pointer;
  background-color: #A9C42D;
  transform: scale(1.05);
}

#price
{
  font-weight: 700;
  font-size: 1.4rem;
  padding-top: 15px;
  padding-bottom: 10px;
}

#price, #price-frequency
{
  display: inline-block;
}

#price-frequency
{
  position: relative;
  top: -3px;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-left: 5px;
}

#why-us li
{
  list-style: none;
  padding-bottom: 3px;
  font-size: 0.8rem;
  opacity: 0.7;
}

#why-us
{
  padding: 0;
}
